<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GrossmanTom2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C03AB7B61D28898900708AF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C03AB7CF1D28898A00708AF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C03AB7DA1D28898A00708AF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
